@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">ha?? nanndenann･･･mazide!!!!!!!!!!!</h1>
    <h1 class="display-4">This is staging slot.</h1>
</div>
